---
title: About us
description: The developers behind Paper Search
---

<h2>{% t global.text26 %}</h2>
<p class="subtext">{% t global.text27 %}</p>
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% assign persons_sorted = site.staff_members | sort: "sortid" %}
	{% for person in persons_sorted %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="{{ person.web_url }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
