---
title: Development
description: Paper Search Development process with issue tracker
---

<h2>{% t global.text38 %}</h2>
<br>
{% assign issue_stats = site.data.api_fetch.issues_stats.statistics.counts %}
<center><p><strong>{{ issue_stats.opened }}</strong> {% t global.text39 %} <strong>{{ issue_stats.closed }}</strong> {% t global.text40 %}</p></center>
<br>
{% assign issues = site.data.api_fetch.issues_opened %}
<div class="issue-item-container">
  {% for i in (0..11) %}
    {% if issues.size > i %}
      <div class="issue-item">
        <div class="issue-item-icon">
          <svg id="logo_art" data-name="logo art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 586 559"><defs><style>.cls-1{fill:#fc6d26;}.cls-2{fill:#e24329;}.cls-3{fill:#fca326;}</style></defs><title>gitlab-icon-rgb</title><g id="g44"><path id="path46" class="cls-1" d="M461.17,301.83l-18.91-58.12L404.84,128.43a6.47,6.47,0,0,0-12.27,0L355.15,243.64H230.82L193.4,128.43a6.46,6.46,0,0,0-12.26,0L143.78,243.64l-18.91,58.19a12.88,12.88,0,0,0,4.66,14.39L293,435,456.44,316.22a12.9,12.9,0,0,0,4.73-14.39"></path></g><g id="g48"><path id="path50" class="cls-2" d="M293,434.91h0l62.16-191.28H230.87L293,434.91Z"></path></g><g id="g56"><path id="path58" class="cls-1" d="M293,434.91,230.82,243.63h-87L293,434.91Z"></path></g><g id="g64"><path id="path66" class="cls-3" d="M143.75,243.69h0l-18.91,58.12a12.88,12.88,0,0,0,4.66,14.39L293,435,143.75,243.69Z"></path></g><g id="g72"><path id="path74" class="cls-2" d="M143.78,243.69h87.11L193.4,128.49a6.47,6.47,0,0,0-12.27,0l-37.35,115.2Z"></path></g><g id="g76"><path id="path78" class="cls-1" d="M293,434.91l62.16-191.28H442.3L293,434.91Z"></path></g><g id="g80"><path id="path82" class="cls-3" d="M442.24,243.69h0l18.91,58.12a12.85,12.85,0,0,1-4.66,14.39L293,434.91l149.2-191.22Z"></path></g><g id="g84"><path id="path86" class="cls-2" d="M442.28,243.69h-87.1l37.42-115.2a6.46,6.46,0,0,1,12.26,0l37.42,115.2Z"></path></g></svg>
        </div>
        <a href="{{issues[i].web_url}}" target="_blank" class="issue-item-link-img-wrapper">
          <img class="issue-item-link-img" src="{{ site.baseurl }}/images/external-link.svg"></img>
        </a>
        <div class="issue-item-title">
          <p><strong>{{ issues[i].title }}</strong></p>
        </div>
        <div class="issue-item-tags-container">
          {% assign all_labels = site.data.api_fetch.issue_labels %}
          {% assign labels = issues[i].labels %}
            {% for j in (0..2) %}
              {% if labels.size > j %}
                {% assign current_label = all_labels | where: 'name', labels[j] %}
                {% assign label_style = 'style=background:' | append: current_label[0].color | append: ';color:' | append: current_label[0].text_color %}
                <div class="issue-item-tags" {{ label_style }}>
                  <strong>{{ labels[j] }}</strong>
                </div>
              {% endif %}
            {% endfor %}
        </div>
        <a href="{{ issues[i].author.web_url }}" target="_blank" class="issue-item-author">{% t global.text41 %} {{ issues[i].author.name }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>
