---
title: Paper Search
description: time-saving, systematic and comprehensive literature research
---


<section class="hero">
	<div class="text-container">
		<h1 class="editable">{% t global.text1 %}</h1>
		<p class="subtext editable">{% t global.text2 %}</p>
		<div class="cta button alt"><a href="https://gitlab.com/paper-search/paper-search/-/releases">{% t global.text3 %}</a>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{% t global.text4 %}</h2>
				<p>{% t global.text5 %}</p>
			</div>
			<div class="image">
				<div class="imgwrapper">
		     <img src="{{ site.baseurl }}/images/screen1.png" alt="Screenshot" id="img1" class="screenshot editable hover" ontouchstart="onClicked();" onmouseover="mouseOver(event,this);" onmouseout="mouseOut(event,this);"/>
		     <div class="img1box1" onmousedown="clickOnImgBox(event,this);"></div>
		     <div class="img1box2" onmousedown="clickOnImgBox(event,this);""></div>
		   </div>

			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{% t global.text6 %}</h2>
				<p>{% t global.text7 %}</p>
			</div>
			<div class="image">
				<div class="imgwrapper">
		     <img src="{{ site.baseurl }}/images/screen2.png" alt="Screenshot" id="img2" class="screenshot editable hover" ontouchstart="onClicked();" onmouseover="mouseOver(event,this);" onmouseout="mouseOut(event,this);"/>
		     <div class="img2box1" onmousedown="clickOnImgBox(event,this);"></div>
		   </div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{% t global.text8 %}</h2>
				<p>{% t global.text9 %}</p>
			</div>
			<div class="image">
				<div class="imgwrapper">
		     <img src="{{ site.baseurl }}/images/screen3.png" alt="Screenshot" id="img3" class="screenshot editable hover" ontouchstart="onClicked();" onmouseover="mouseOver(event,this);" onmouseout="mouseOut(event,this);"/>
		     <div class="img3box1" onmousedown="clickOnImgBox(event,this);"></div>
		     <div class="img3box2" onmousedown="clickOnImgBox(event,this);"></div>
				 <div class="img3box3" onmousedown="clickOnImgBox(event,this);"></div>
		   </div>
		</div>
	</section>

	<section class="bulletpoint-section">
		<div class="container flex">
			<div class="text editable">
				<h2><br><center>{% t global.text10 %}:<center><br></h2>
			</div>
		</div>
		<div class="bulletpoints-container flex">
			<div class="bulletpoints-box1">
				<div class="wine-row-left">
					<div class="feature-container">
						<div class="feature-img-wrapper"><img src="{{ site.baseurl }}/images/bullet-icons/bullet_icon1.svg" class="feature-img"></img></div>
						<div class="feature-text-wrapper">
							<p class="feature-heading"><strong>{% t global.text11 %}</strong></p>
							<p class="feature-subtext">{% t global.text12 %}</p>
						</div>
					</div>
				</div>

				<div class="wine-row-left">
					<div class="feature-container">
						<div class="feature-img-wrapper"><img src="{{ site.baseurl }}/images/bullet-icons/bullet_icon2.svg" class="feature-img"></img></div>
						<div class="feature-text-wrapper">
							<p class="feature-heading"><strong>{% t global.text13 %}</strong></p>
							<p class="feature-subtext">{% t global.text14 %}</p>
						</div>
					</div>
				</div>

				<div class="wine-row-left">
					<div class="feature-container">
						<div class="feature-img-wrapper"><img src="{{ site.baseurl }}/images/bullet-icons/bullet_icon3.svg" class="feature-img"></img></div>
						<div class="feature-text-wrapper">
							<p class="feature-heading"><strong>{% t global.text15 %}</strong></p>
							<p class="feature-subtext">{% t global.text16 %}</p>
						</div>
					</div>
				</div>

			</div>

			<div class="bulletpoints-box2">
				<div class="wine-row-right">
					<div class="feature-container">
						<div class="feature-img-wrapper"><img src="{{ site.baseurl }}/images/bullet-icons/bullet_icon4.svg" class="feature-img"></img></div>
						<div class="feature-text-wrapper">
							<p class="feature-heading"><strong>{% t global.text17 %}</strong></p>
							<p class="feature-subtext">{% t global.text18 %}</p>
						</div>
					</div>
				</div>

				<div class="wine-row-right">
					<div class="feature-container">
						<div class="feature-img-wrapper"><img src="{{ site.baseurl }}/images/bullet-icons/bullet_icon5.svg" class="feature-img"></img></div>
						<div class="feature-text-wrapper">
							<p class="feature-heading"><strong>{% t global.text19 %}</strong></p>
							<p class="feature-subtext">{% t global.text20 %}</p>
						</div>
					</div>
				</div>

				<div class="wine-row-right">
					<div class="feature-container">
						<div class="feature-img-wrapper"><img src="{{ site.baseurl }}/images/bullet-icons/bullet_icon6.svg" class="feature-img"></img></div>
						<div class="feature-text-wrapper">
							<p class="feature-heading"><strong>{% t global.text21 %}</strong></p>
							<p class="feature-subtext">{% t global.text22 %}</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>

	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="testimonial-image"><img src="{{ site.baseurl }}/images/LogoIsolated.png" class="editable"></img></div>
				<blockquote>
					<p class="editable">{% t global.text23 %}</p>
				</blockquote>
			</div>
		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable">{% t global.text24 %}</h2>
		<div class="button alt"><a href="#">{% t global.text25 %}</a></div>
	</section>
</div>
