<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<!-- country flags from https://www.countryflags.com/ -->
	{% if site.lang == "de" %}
		<a href="/..{{page.url}}" class="lang_bar_nexttotoggle" target="_self"><img class="lang_bar_nexttotoggle_img" title="Switch language to english" src="{{ site.baseurl }}/images/usa-uk-flag.png"></img></a>
	{% elsif site.lang == "en" %}
		<a href="/de{{page.url}}" class="lang_bar_nexttotoggle" target="_self"><img class="lang_bar_nexttotoggle_img" title="Sprache wechseln zu Deutsch" src="{{ site.baseurl }}/images/germany-flag.png"></img></a>
	{% endif %}

	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>



	{% if site.lang == "de" %}

		{% for link in site.data.navigation_de %}
			{% assign class = "" %}

			{% if link.highlight %}
				{% assign class = class | append: " highlight" %}
			{% endif %}

			{% if link.link == page.url %}
				{% assign class = class | append: " active" %}
			{% endif %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>

		{% endfor %}

	{% elsif site.lang == "en" %}

		{% for link in site.data.navigation_en %}
			{% assign class = "" %}

			{% if link.highlight %}
				{% assign class = class | append: " highlight" %}
			{% endif %}

			{% if link.link == page.url %}
				{% assign class = class | append: " active" %}
			{% endif %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>

		{% endfor %}

	{% endif %}

</nav>
