<!doctype html>

<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}


		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">

		<script src="{{ site.baseurl }}/js/jquery-3.4.1.js"></script>

	</head>
	<body>
		<div class="wrapper">
		<div id="tooltip"><span></span></div>
		<header>
			<div class="container">
				<div class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" alt="paper search" width="95" height="33" /></a></div>
				{% include navigation.html %}

			</div>
		</header>
		{{ content }}
		<footer>
			<div class="container">
				<p class="editor-link"><a href="cloudcannon:collections/_data/footer.yml" class="btn"><strong>&#9998;</strong> Edit footer</a></p>
				<div class="footer-columns">
					{% if site.lang == "de" %}
					{% for column in site.data.footer_de %}
					<ul class="footer-links">
						{% for link in column.links %}
							<li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
								{% if link.social_icon %}
									{% include social-icon.html icon=link.social_icon %}
								{% endif %}
								{{ link.name }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
					{% elsif site.lang == "en" %}
						{% for column in site.data.footer_en %}
						<ul class="footer-links">
							{% for link in column.links %}
								<li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
									{% if link.social_icon %}
										{% include social-icon.html icon=link.social_icon %}
									{% endif %}
									{{ link.name }}</a></li>
							{% endfor %}
						</ul>
						{% endfor %}
					{% endif %}
				</div>
				<p class="copyright">&copy; {{ site.time | date: '%Y' }} Paper Search • <a href="{{ site.baseurl }}/legalnotice/">{% t global.text46 %}</a> • <a href="https://cloudcannon.com/">Template by CloudCannon</a></p>
				<p class="copyright"><a href="https://feathericons.com/">Icons: Feather</a> • <a
						href="https://www.countryflags.com">Country Flags</a></p>
			</div>
		</footer>
		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
	</div>
	<script src="{{ site.baseurl }}/js/hightlight_texts_{{ site.lang }}.js"></script>
	<script src="{{ site.baseurl }}/js/main.js"></script>
	</body>
</html>
